<h1>Dự đoán ung thư xương</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" id="imageInput" accept="image/*" required>
    <br><br>
    <!-- Khung preview ảnh -->
    <img id="preview" src="#" alt="Ảnh preview" style="display: none; max-width: 300px; border: 2px solid #ccc; padding: 5px;">
    <br><br>
    {% if image_url %}
    <h3>Ảnh đã upload:</h3>
    <img src="{{ image_url }}" alt="Ảnh đã upload" style="max-width: 300px; border: 2px solid #ccc; padding: 5px;">
{% endif %}
<button type="submit">Dự đoán</button>
</form>

{% if result %}
    <h2>Kết quả: {{ result }}</h2>
{% endif %}


{% if predicted_image_url %}
    <h3>Ảnh dự đoán:</h3>
    <img src="{{ predicted_image_url }}" alt="Ảnh dự đoán" style="max-width: 300px; border: 2px solid #ccc; padding: 5px;">
{% endif %}
<!-- JavaScript để hiển thị preview ảnh -->
<script>
    const imageInput = document.getElementById("imageInput");
    const preview = document.getElementById("preview");

    imageInput.addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            }
            reader.readAsDataURL(file);
        }
    });
</script>