Django==4.2  
djangorestframework==3.14.0  
django-cors-headers==4.0.0  
gunicorn==20.1.0  

torch==2.2.0                 # PyTorch để load model  
torchvision==0.17.0          # Hỗ trợ xử lý ảnh  
monai==1.3.0                 # Nếu model dùng MONAI  
opencv-python==4.9.0         # Xử lý ảnh  
numpy==1.24.3                # Ma trận, tensor  
pillow==10.2.0               # Đọc ảnh  

mssql-django==1.3  
pyodbc==5.1.0  